// auto-resize font-size for different screen size
@media only screen and (max-width: 1366px) {
  html {
     font-size: 16px
  }
}

@media only screen and (max-width: 992px) {
  html {
     font-size: 14px
  }
}

@media only screen and (max-width: 576px) {
  html {
     font-size: 13px
}
}

@media only screen and (max-width: 320px) {
  html {
     font-size: 12px
  }
}

.header-nav-wrapper {
  a {
    color:  #7fa1b3;;
  }
  font-size: 1.2rem;
  font-weight: 400;
}

.currency-dropdown {
  text-align: center;
  margin: 1rem auto
}

// table
.ant-table-title {
  text-align: center;
  font-weight: 600;
  color: black;

}
.table-footer {
  .ant-table-thead {
    visibility: none;
    height: 0
  }
}

.ant-statistic-content {
  font-size: 1.4rem;
}
.ant-statistic-content-value-decimal, .ant-statistic-content-suffix,  .ant-statistic-content-suffix{
  font-size: 1rem;
}
.ant-table-thead > tr > th {
  font-weight: bold;
}

.ant-table-tbody > tr:last-child > td {
  // padding: 0.8rem;
  background:  #7fa1b3;
}

.ant-table-thead > tr > th:first-child,
.ant-table-tbody > tr > td:first-child {
  background: #001529;
  color: #407088;
  font-size: 1rem;
  font-weight: bold;
  &:hover {
    background: darkslategray;
  }
}

// layout
.ant-layout-content{
  min-height: 100%;
  margin: 0 3rem;
}

.ant-layout-footer {
  text-align: center;
  color: white;
  background: #0e213b;
}

.ant-row, .ant-col-xs-24 {
  margin-bottom: 2rem;
}

// table edit cell
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}